<div class="main">
    <div class="content1">
        <div class="service">
            <h2> Profile </h2>
            <div class="image group">

                <div class="span_2_of_2">
                    <span>Username :</span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{user.username}} </span>
                    <br/>
                    <br/>
                    <span>First name : </span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{user.ime}}</span>
                    <br/>
                    <br/>
                    <span>Last name : </span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{user.prezime}}</span>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>