
<div class="bg-agile">
    <div class="book-appointment">
        <h2>Edit Ingredient Information</h2>
        <form>
            <div class="left-agileits-w3layouts same">
                <div class="span_2_of_2">
                    <span>Name : &nbsp;</span>
                    <input  type="text" style="color: #AEAEAE !important;" ng-model="ingredient.naziv" />
                </div>

            </div>

            <div class="clear"></div>
            <input type="submit" value="Submit" ng-click="saveEdit(ingredient.naziv, ingredient.id )">
        </form>
    </div>
</div>
