
    <div class="bg-agile">
        <div class="book-appointment">
            <h2>Login Information</h2>
            <form>
                <div class="left-agileits-w3layouts same">
                    <div class="gaps">
                        <p>Username</p>
                        <input type="text" name="First Name" placeholder="" ng-model="user" required="required"/>
                    </div>
                    <div class="gaps">
                        <p>Password</p>
                        <input type="password" name="Last Name" placeholder="" ng-model="pass" required="required"/>
                    </div>


                </div>
                <div class="clear"></div>
                <input type="submit" value="Submit" ng-click="login(user, pass)">
            </form>
        </div>
    </div>
