<div class="main">
    <div class="content1">
        <div class="service">

            <h2> Diagnose </h2>

            <div  class="image group">

                <div class="span_2_of_2">
                    <span>Insurance number :</span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{patient.brojZdravstveneKartice}} </span>

                    <br/>
                    <br/>
                    <span>First name : </span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{patient.ime}}</span>
                    <br/>
                    <br/>
                    <span>Last name : </span>
                    <span style="color: #AEAEAE !important;"> &nbsp; {{patient.prezime}}</span>
                    <br/>
                    <br/>


                        <h3>Symptoms : </h3>

                        <div ng-repeat="simptom in symptom track by $index">
                            <br/>
                            <input type="checkbox" ng-model="simptom.izabrano" /> <span style="color: black; font-size: 15px" >{{simptom.naziv}} </span>

                        </div>


                    <div ng-if="pickLicno">
                        <br/>
                        <br/>

                        <p>Illnesses : </p>




                        <div ng-repeat="bolest in bolesti track by $index">
                            <br/>
                            <button type="submit" style="float: right !important;" ng-click="proveriBolest(bolest.id)" class="btn btn-primary"   >
                                <img class="clearDelete" src="../../../assets/images/check.png" width="15" height="15" title="Check illness" alt="submit" />
                            </button>
                            <input type="checkbox" ng-model="bolest.izabrano" /> <span style="color: black; font-size: 15px" >{{bolest.naziv}} </span>

                        </div>

                        <br/>
                        <br/>

                        <p>Medicine : </p>

                        <div ng-repeat="lek in lekovi track by $index">
                            <br/>
                            <input type="checkbox" ng-model="lek.izabrano" /> <span style="color: black; font-size: 15px" >{{lek.naziv}} </span>

                        </div>

                        <br/>
                        <button ng-click="diagnose()"> Finish </button>

                    </div>

                    <div ng-if="pickNajverovatnija">
                        <br/>
                        <br/>

                        <p>Illnesses : </p>

                        <div ng-repeat="bolV in verovatnaBolest track by $index">
                            <br/>

                            <button type="submit" style="float: right !important;" ng-click="proveriBolest(bolV.id)" class="btn btn-primary"   >
                                <img class="clearDelete" src="../../../assets/images/check.png" width="15" height="15" title="Check illness" alt="submit" />
                            </button>
                            <input type="checkbox" ng-model="bolV.izabrano" /> <span style="color: black; font-size: 15px" >{{bolV.naziv}} </span>

                        </div>

                        <br/>
                        <br/>

                        <p>Medicine : </p>

                        <div ng-repeat="lek in lekoviNajverovatnije track by $index">
                            <br/>
                            <input type="checkbox" ng-model="lek.izabrano" /> <span style="color: black; font-size: 15px" >{{lek.naziv}} </span>

                        </div>

                        <br/>
                        <button ng-click="diagnoseNajverovatnije()"> Finish </button>

                    </div>


                    <div ng-if="pickSveMoguce">
                        <br/>
                        <br/>

                        <p>Illnesses : </p>

                        <div>

                            <div ng-repeat="bolest in bolestiSve track by $index">
                                <br/>
                                <button type="submit" style="float: right !important;" ng-click="proveriBolest(bolest.id)" class="btn btn-primary"   >
                                    <img class="clearDelete" src="../../../assets/images/check.png" width="15" height="15" title="Check illness" alt="submit" />
                                </button>
                                <input type="checkbox" ng-model="bolest.izabrano" /> <span style="color: black; font-size: 15px" >{{bolest.naziv}} </span>

                            </div>

                            <br/>
                            <br/>

                            <p>Medicine : </p>

                            <div ng-repeat="lek in lekoviSvi track by $index">
                                <br/>
                                <input type="checkbox" ng-model="lek.izabrano" /> <span style="color: black; font-size: 15px" >{{lek.naziv}} </span>

                            </div>

                            <br/>
                            <button ng-click="diagnoseSve()"> Finish </button>

                        </div>


                    </div>



                    <br/>
                    <br/>
                    <button ng-click="najverovatnije()"> Most plausible illness </button>
                    <button ng-click="sveMoguce()"> All possible illnesses </button>
                    <button ng-click="licno()"> Diagnose illness </button>





                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>