<div class="main">
    <div class="content1">
        <div class="service">
            <h2> Profile </h2>

            <div class="image group">

                <div class="span_2_of_2">
                    <span>Username : &nbsp;</span>
                    <input  type="text" style="color: #AEAEAE !important;" ng-model="user.username" disabled/>
                    <br/>
                    <br/>
                    <span>First name : &nbsp; </span>
                    <input type="text" style="color: #AEAEAE !important;" ng-model="user.ime" />
                    <br/>
                    <br/>
                    <span>Last name :  &nbsp;</span>
                    <input type="text" style="color: #AEAEAE !important;" ng-model="user.prezime" />
                    <br/>
                    <br/>
                    <span>Password :  &nbsp;</span>
                    <input type="password" style="color: #AEAEAE !important;" ng-model="user.password" />
                    <br/>
                    <br/>
                    <span>Repeat password:  &nbsp;</span>
                    <input type="password" style="color: #AEAEAE !important;" ng-model="password2" />

                    <br/>
                    <br/>
                    <button ng-click="saveEdit(user.username, user.ime, user.prezime, user.password, password2, user.tip, user.id)"> Save </button>

                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>